a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}

*,
*:before,
*:after {
       -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

html {
    font-size: 100%;
    text-rendering: optimizeLegibility;
}

body {
    color: #333;
    font-family: Georgia, serif;
    line-height: 1.5;
    background: #f1f1f1;
    padding: 1.25em;
}

h1,
h2,
h3,
h4,
h5 {
    color: #111;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: bold;
    line-height: 1.25;
    margin-bottom: 0.5em;
}
h1 {
    font-size: 1.75em;
}
h2 {
    font-size: 1.5em;
}
h3 {
    font-size: 1.25em;
}
h4 {
    font-size: 1em;
}
h5 {
    font-size: 0.85em;
}


p {
    margin-bottom: 0.75em;
}

b,
strong {
    font-weight: bold;
}

ol,
ul {
    margin-bottom: 0.75em;
    padding-left: 1.5em;
}
ol ol,
ol ul,
ul ol,
ul ul {
    margin-bottom: 0;
}
ol li {
    list-style: decimal;
}
ul li {
    list-style: disc;
}

del {
    text-decoration: line-through;
}
ins {
    text-decoration: none;
}

a {
    color: #9fc355;
    text-decoration: none;
}
a:hover,
a:active,
a:focus {
    color: #ff4b33;
    text-decoration: none;
}
a img {
    display: block;
    border: none;
}

.wrapper {
    background-color: #fff;
    max-width: 980px;
    margin: 0 auto;
    padding: 1.25em;
    border-radius: 0.5em;
    box-shadow: 0 0.125em 0.25em #b2b2b2;
}

.site-header {
    margin: 0 1.25em;
    padding-bottom: 1.25em;
}
.site-header .brand {
    font-size: 0;
    line-height: 1;
    text-shadow: none;
    background: transparent url(../img/logo.gif) no-repeat center center;
    background-size: contain;
    display: block;
    width: 400px;
    height: 0;
    max-width: 75%;
    margin: 0 auto;
    padding-bottom: 32.25%;
}

.primary-navigation {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 87.5%;
    line-height: 2.85714286;
    background-color: #9fc355;
    margin-bottom: 0.571428571em;
    border-radius: 0.285714286em;
    overflow: auto;
}
.primary-navigation ul {
    margin-bottom: 0;
    padding-left: 0;
}
.primary-navigation li {
    display: block;
    list-style: none;
}
.primary-navigation li.conference {
    background-color: #267246;
}
.primary-navigation a {
    color: #fff;
    text-decoration: none;
    text-shadow: 0 0.1em 0.1em rgba(0,0,0,0.5);
    display: block;
    padding-left: 1em;
}
.primary-navigation a:hover,
.primary-navigation a:active,
.primary-navigation a:focus {
    color: #fff;
    background-color: #333;
    outline: none;
}

.site-footer p {
    font-size: 87.5%;
    line-height: 1.71428571;
    margin-bottom: 0;
}

.site-footer .row {
    color: #666;
    max-width: 600px;
    margin: 0 auto 1.5em;
    overflow: auto;
}
.site-footer .row h3 {
    font-size: 87.5%;
}

.site-footer .event-location,
.site-footer .after-the-event {
    text-align: center;
    width: 80%;
    margin: 0 auto;
}
.site-footer .event-location {
    margin-bottom: 1.5em;
    padding-bottom: 1.5em;
    border-bottom: 0.1em solid #ddd;
}

.site-footer .copyright {
    color: #999;
    text-align: center;
}

#main {
    overflow: auto;
    padding: 1.25em 0;
}

#secondary {
    font-size: 87.5%;
    line-height: 1.71428571;
    margin-top: 1.25em;
    padding-top: 1.25em;
    border-top: 0.5em solid #eee;
}

#secondary > article {
    margin-bottom: 1.71428571em;
    padding-bottom: 1.64285714em;
    border-bottom: 0.1em solid #eee;
}
#secondary > article:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: none;
}
#secondary > article > *:last-child {
    margin-bottom: 0;
}

.hfeed .hentry {
    margin-bottom: 1.5em;
    padding-bottom: 1.4375em;
    border-bottom: 0.1em solid #e7e7e7;
}
.hfeed .entry-title {
    font-size: 1.5em;
    margin-bottom: 0.25em;
}
.hfeed .entry-title a {
    color: #111;
}
.hfeed .entry-title a:hover,
.hfeed .entry-title a:active,
.hfeed .entry-title a:focus {
    color: #ff4b33;
}

.entry-meta {
    color: #999;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 81.25%;
}
.entry-summary > p:last-child {
    margin-bottom: 0;
}

.event-register,
.event-sponsor {
    margin-top: 1.5em;
    padding-top: 1.4375em;
    border-top: 0.1em solid #e7e7e7;
}

.btn {
    color: #fff;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 0.1em 0.1em rgba(0,0,0,0.25);
    background-color: #9fc355;
    display: inline-block;
    margin: 0;
    padding: 0.5em 1em;
    border: 0.1em solid transparent;
    border-radius: 0.25em;
    vertical-align: middle;
    cursor: pointer;
}
.btn:hover,
.btn:active,
.btn:focus {
    color: #fff;
    text-decoration: none;
    background-color: #ff4b33;
}
.btn:active,
.btn:focus {
    color: rgba(255,255,255,0.8);
    text-shadow: 0 -0.1em 0 rgba(0,0,0,0.25);
    box-shadow: inset 0 0.25em 0.5em rgba(0,0,0,0.25);
}

.pager {
    overflow: auto;
}
.pager .previous,
.pager .next {
    display: inline;
}
.pager .previous a,
.pager .previous span,
.pager .next a,
.pager .next span {
    background-color: #fff;
    display: inline-block;
    padding: 5px 14px;
    border: 1px solid #ddd;
    border-radius: 15px;
}
.pager .previous a,
.pager .previous span {
    float: left;
}
.pager .previous a:before,
.pager .previous span:before {
    content: '\2190\00a0';
}
.pager .next a,
.pager .next span {
    float: right;
}
.pager .next a:after,
.pager .next span:after {
    content: '\00a0\2192';
}
.pager .disabled span {
    color: #999;
}

.conference {
    overflow: auto;
}
.conference .logo {
    display: block;
    max-width: 100%;
    margin: 0 auto 1em;
}

#disqus_thread {
    margin-top: 1em;
}

#location-map {
    height: 19.5em;
    margin: 0 -1.25em 1.5em;
    border-top: 0.5em solid #9fc355;
}

@media (min-width: 480px) {
    .primary-navigation ul {
        padding: 0 0.75em;
    }
    .primary-navigation li {
        float: left;
    }
    .primary-navigation li.conference {
        float: right;
    }
    .primary-navigation a {
        padding: 0 0.75em;
    }
}

@media (min-width: 768px) {
    .site-header {
        background: url(../img/header-bg.gif) no-repeat bottom right;
        padding-right: 397px;
    }
    .site-header .brand {
        max-width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
    
    #primary,
    #secondary {
        padding: 0 1.25em;
    }
    #primary {
        width: 75%;
        float: left;
    }
    #secondary {
        width: 25%;
        margin-top: 0;
        padding-top: 0;
        float: right;
        border-top: none;
    }
    
    .site-footer .event-location,
    .site-footer .after-the-event {
        width: 50%;
        padding: 0 1.25em;
    }
    .site-footer .event-location {
        text-align: right;
        margin-bottom: 0;
        padding-bottom: 0;
        padding-left: 0;
        float: left;
        border-bottom: none;
    }
    .site-footer .after-the-event {
        text-align: left;
        padding-right: 0;
        float: right;
        border-left: 0.1em solid #eee;
    }
}