---
layout: default
title: PHP North East
---
          <div class="hfeed">
{% for post in paginator.posts %}
            <article class="hentry" itemscope itemtype="http://schema.org/Event">
              <header class="entry-header">
                <h1 class="entry-title" itemprop="name">
                  <a href="{{ post.url }}" rel="bookmark" itemprop="url">{{ post.title }}</a>
                </h1>
              </header>
              <div class="entry-summary" itemprop="description">
                <p><strong>Event Date:</strong> <time datetime="{{ page.date|date_to_xmlschema }}" itemprop="startDate">{{ page.date|date_to_string }}</time></p>
                <div itemprop="description">
                  {{ post.excerpt }}
                </div>
              </div>
            </article>
{% endfor %}
          </div>
          <ul class="pager">
{% if paginator.previous_page %}
              <li class="previous"><a href="{{ paginator.previous_page_path }}">Previous</a></li>
{% else %}
              <li class="previous disabled"><span class="previous">Previous</span></li>
{% endif %}
{% if paginator.next_page %}
              <li class="next"><a href="{{ paginator.next_page_path }}">Next</a></li>
{% else %}
              <li class="next disabled"><span>Next</span></li>
{% endif %}
          </ul>
