---
layout: default
title: PHP North East
---
          <div class="hfeed">
{% for post in paginator.posts %}
            <article class="hentry">
              <header class="entry-header">
                <h1 class="entry-title">
                  <a href="{{ post.url }}" rel="bookmark">{{ post.title }}</a>
                </h1>
              </header>
              <footer class="entry-meta">
                <p>Posted on <time class="published" datetime="{{ post.date|date_to_xmlschema }}" pubdate>{{ post.date|date_to_string }}</time></p>
              </footer>
              <div class="entry-summary">
                {{ post.excerpt }}
              </div>
            </article>
{% endfor %}
          </div>
          <ul class="pager">
{% if paginator.previous_page %}
              <li class="previous"><a href="{{ paginator.previous_page_path }}">Previous</a></li>
{% else %}
              <li class="previous disabled"><span class="previous">Previous</span></li>
{% endif %}
{% if paginator.next_page %}
              <li class="next"><a href="{{ paginator.next_page_path }}">Next</a></li>
{% else %}
              <li class="next disabled"><span>Next</span></li>
{% endif %}
          </ul>
