            <aside class="event-sponsor">
              <p>Thanks to the generous sponsorship of Laura Sharpe of <a href="http://sharperecruitment.co.uk/" rel="external">Sharpe Recruitment</a>, there will once again be a stack of pizzas for you to enjoy before the talk.</p>
              <p>The event is free and open to all, but please sign up online so that we have know how much pizza we need to order. Feedback, suggestions and ideas for future topics are welcome on our <a href="http://groups.google.com/group/php-north-east" rel="external">Google Group</a>.</p>
              <p>Please promote this event via Twitter or your own website to help us spread the word.</p>
            </aside>