{% if page.date > site.time and page.eventbrite_id %}
  <aside class="event-register">
    <div id="eventbrite-widget-container-{{ page.eventbrite_id }}"></div>
    <script src="https://www.eventbrite.co.uk/static/widgets/eb_widgets.js"></script>
    <script type="text/javascript">
      window.EBWidgets.createWidget({
        widgetType: 'checkout',
        eventId: '{{ page.eventbrite_id }}',
        iframeContainerId: 'eventbrite-widget-container-{{ page.eventbrite_id }}'
      });
    </script>
  </aside>
{% endif %}
