<footer class="site-footer" role="contentinfo">
  <div class="site-footer-bg"></div>
  <div class="site-footer-inner">
    <div class="container">
      <div class="py-5 small text-center">
        <ul class="list-inline fa-2x mb-2 social-list">
          <li class="list-inline-item mr-0">
            <a href="https://twitter.com/phpne" rel="external noreferrer" target="_blank" title="PHP North East on Twitter">
              <span class="fa-layers fa-fw">
                <i class="fas fa-circle"></i>
                <i class="fa-inverse fab fa-twitter" data-fa-transform="shrink-7"></i>
              </span>
              <span class="sr-only">PHP North East on Twitter</span>
            </a>
          </li>
          <li class="list-inline-item mr-0">
            <a href="https://www.facebook.com/PHP-North-East-530355733811108/" rel="external noreferrer" target="_blank" title="PHP North East on Facebook">
              <span class="fa-layers fa-fw">
                <i class="fas fa-circle"></i>
                <i class="fa-inverse fab fa-facebook-f" data-fa-transform="shrink-7"></i>
              </span>
              <span class="sr-only">PHP North East on Facebook</span>
            </a>
          </li>
          <li class="list-inline-item mr-0">
            <a href="https://www.linkedin.com/company/php-north-east/" rel="external noreferrer" target="_blank" title="PHP North East on LinkedIn">
              <span class="fa-layers fa-fw">
                <i class="fas fa-circle"></i>
                <i class="fa-inverse fab fa-linkedin-in" data-fa-transform="shrink-7"></i>
              </span>
              <span class="sr-only">PHP North East on LinkedIn</span>
            </a>
          </li>
          <li class="list-inline-item mr-0">
            <a href="https://www.youtube.com/channel/UCKTVnaV4Pn_xzieKjKxmq3g" rel="external noreferrer" target="_blank" title="PHP North East on YouTube">
              <span class="fa-layers fa-fw">
                <i class="fas fa-circle"></i>
                <i class="fa-inverse fab fa-youtube" data-fa-transform="shrink-7"></i>
              </span>
              <span class="sr-only">PHP North East on YouTube</span>
            </a>
          </li>
        </ul>
        <p class="mb-0">&copy; 2018 PHP North East. All rights reserved.</p>
      </div>
    </div>
  </div>
</footer>
