<header class="site-header py-3" role="banner">
  <div class="container d-md-flex justify-content-md-between text-center text-md-left align-items-md-center">
    <a class="site-header-logo mb-2 mb-md-0 mx-auto mx-md-0" href="/">
      <span class="site-header-logo-text">PHP North East</span>
    </a>
    <nav class="nav site-header-navigation">
      <li class="nav-item">
        <a class="nav-link{% if page.active == 'home' %} active{% endif %}" href="{% link index.html %}">
          <span class="nav-link-text">Home</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link{% if page.active == 'about' %} active{% endif %}" href="{% link about.html %}">
          <span class="nav-link-text">About</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link{% if page.active == 'events' %} active{% endif %}" href="{% link events/index.html %}">
          <span class="nav-link-text">Events</span>
        </a>
      </li>
    </nav>
  </div>
</header>
