<header class="jumbotron jumbotron-fluid jumbotron-home mb-3 mb-md-4 py-0">
  <div class="jumbotron-bg"></div>
  <div class="container">
    <div class="jumbotron-home-inner text-center text-md-left">
      <div class="row">
        <div class="col-12 col-md-8">
          <h1 class="jumbotron-home-logo mt-0 mb-4 mx-auto mx-md-0">PHP North East</h1>
          <p class="lead mb-5">
            PHP North East is a free, monthly meetup based in Newcastle upon Tyne, <abbr class="initialism" title="United Kingdom">UK</abbr>.<br />
            We meet on the third Tuesday of each month to talk PHP and related topics.
          </p>
          <ul class="list-inline">
            <li class="list-inline-item">
              <a class="btn btn-lg btn-outline-light" href="{% link events/index.html %}">
                <span class="btn-text">View past events</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>
