<div class="container">
  <div class="card card-next-event mx-auto mb-0" itemscope itemtype="http://schema.org/EducationEvent">
    <div class="card-body text-center">
      <p class="text-muted">Our next event&hellip;</p>
      <h1 class="h3 mb-2" itemprop="name">Welcome Back &amp; 10 Year Anniversary Social</h1>
      <p itemprop="description">We are delighted to announce the long-anticipated return of PHP North East. After nearly three years away, we're returning with a social event to catch up with fellow PHP developers and celebrate PHP North East's 10-year anniversary. It'd be great if you could join us!</p>
      <ul class="list-inline">
        <li class="list-inline-item">
          <span class="sr-only">Date</span>
          <span class="fas fa-fw fa-calendar-alt text-muted"></span>
          <time datetime="2022-11-15T18:00:00+00:00" itemprop="startDate">Tuesday, 15 November</time>
        </li>
        <li class="list-inline-item">
          <span class="sr-only">Time</span>
          <span class="fas fa-fw fa-clock text-muted"></span>
          <time datetime="2022-11-15T18:00:00+00:00" itemprop="doorTime">6 PM</time>
        </li>
        <li class="list-inline-item" itemprop="location" itemscope itemtype="http://schema.org/Place">
          <span class="sr-only">Location</span>
          <span class="fas fa-fw fa-map-marker-alt text-muted"></span>
          <a class="text-body" href="https://goo.gl/maps/vJFA2mbkKw2DvFA39" itemprop="url" rel="external noopener noreferrer" target="_blank">
            <span itemprop="name">The Conservatory, Liberty House</span>,
            <span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
              <span class="sr-only" itemprop="streetAddress">48 Westgate Road</span>
              <span class="sr-only" itemprop="addressLocality">Newcastle upon Tyne</span>
              <span itemprop="postalCode">NE1 1TT</span>
            </span>
          </a>
        </li>
      </ul>
      <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
        <meta itemprop="price" content="0.00" />
        <meta itemprop="priceCurrency" content="GBP" />
        <a class="btn btn-block btn-primary" href="https://ti.to/phpne/welcome-back-social" itemprop="url" rel="external noopener" target="_blank">
          <span class="btn-text">RSVP</span>
        </a>
      </div>
      <div itemprop="organizer" itemscope itemtype="http://schema.org/Organization">
        <meta itemprop="name" content="PHP North East" />
        <meta itemprop="url" content="https://phpne.org.uk/" />
      </div>
    </div>
  </div>
</div>
