<div class="container">
  <div class="card card-next-event mx-auto mb-0" itemscope itemtype="http://schema.org/EducationEvent">
    <div class="card-body text-center">
      <p class="text-muted">Our next event&hellip;</p>
      <h1 class="h3 mb-2" itemprop="name">FFI in PHP 7.4 and beyond</h1>
      <p itemprop="description">We are pleased to announce the September 2020 event for PHP North East, "FFI in PHP 7.4 and beyond" by  <span itemprop="performer" itemscope itemtype="http://schema.org/Person"><span itemprop="givenName">Chris</span> <span itemprop="familyName">Harvey</span></span>.</p>
      <ul class="list-inline">
        <li class="list-inline-item">
          <span class="sr-only">Date</span>
          <span class="fas fa-fw fa-calendar-alt text-muted"></span>
          <time datetime="2020-10-20T18:30:00+00:00" itemprop="startDate">Tuesday, 20 October</time>
        </li>
        <li class="list-inline-item">
          <span class="sr-only">Time</span>
          <span class="fas fa-fw fa-clock text-muted"></span>
          <time datetime="2020-10-20T18:00:00+00:00" itemprop="doorTime">6 PM</time>
        </li>
        <li class="list-inline-item" itemprop="location" itemscope itemtype="http://schema.org/Place">
          <span class="sr-only">Location</span>
          <span class="fas fa-fw fa-map-marker-alt text-muted"></span>
          <a class="text-body" href="https://www.youtube.com/watch?v=sHfA_b9ozHs&feature=youtu.be" itemprop="url" rel="external noopener noreferrer" target="_blank">
            <span itemprop="name">Online on Youtube</span>,
          </a>
        </li>
      </ul>
      <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
        <meta itemprop="price" content="0.00" />`
        <meta itemprop="priceCurrency" content="GBP" />
        <a class="btn btn-block btn-primary" href="https://www.youtube.com/watch?v=sHfA_b9ozHs&feature=youtu.be" itemprop="url" rel="external noopener" target="_blank">
          <span class="btn-text">RSVP</span>
        </a>
      </div>
      <div itemprop="organizer" itemscope itemtype="http://schema.org/Organization">
        <meta itemprop="name" content="PHP North East" />
        <meta itemprop="url" content="https://phpne.org.uk/" />
      </div>
    </div>
  </div>
</div>
