<div class="container">
  <div class="card card-next-event mx-auto mb-0">
    <div class="card-body text-center">
      <p class="text-muted">Our next event&hellip;</p>
      <h1 class="h3 mb-2">Laravel Horizon and ORMs</h1>
      <p>
        For our September meeting, we are pleased to announce On the Horizon by <a href="https://twitter.com/nathanjdunn">Nathan Dunn</a> and ORM Overview by <a href="https://twitter.com/jackowagstaffe">Jack Wagstaffe</a>.
      </p>
      <ul class="list-inline">
        <li class="list-inline-item">
          <span class="sr-only">Date</span>
          <span class="fas fa-fw fa-calendar-alt text-muted"></span>
          <time datetime="2018-09-18T18:00:00+00:00">Tuesday, 18 September</time>
        </li>
        <li class="list-inline-item">
          <span class="sr-only">Time</span>
          <span class="fas fa-fw fa-clock text-muted"></span>
          <time datetime="18:00:00">6 PM</time>
        </li>
        <li class="list-inline-item">
          <span class="sr-only">Location</span>
          <span class="fas fa-fw fa-map-marker-alt text-muted"></span>
          <a class="text-body" href="https://goo.gl/maps/D6yqoiuvtf72" rel="external noopener noreferrer" target="_blank">Campus North</a>
        </li>
      </ul>
      <a class="btn btn-block btn-primary" href="https://ti.to/phpne/september-2018" rel="external" target="_blank">
        <span class="btn-text">Get a ticket</span>
      </a>
    </div>
  </div>
</div>
