<meta property="og:site_name" content="PHP North East" />
<meta property="og:url" content="{{ site.url }}{{ page.url }}" />
<meta property="og:title" content="{{ page.open_graph_title | default: page.title }}" />
<meta property="og:type" content="{{ page.open_graph_type | default: 'website' }}" />
<meta property="og:image" content="{{ page.open_graph_image | default: '/img/open-graph-image.png' | prepend: site.url }}" />
<meta property="og:description" content="{{ page.open_graph_description | default: page.excerpt | strip_html }}" />
