    <meta property="og:site_name" content="PHP North East" />
    <meta property="og:url" content="{{ root }}{{ page.url }}" />
    <meta property="og:title" content="{{ page.title }}" />
    <meta property="og:type" content="{% if page.open_graph_type %}{{ page.open_graph_type }}{% else %}website{% endif %}" />
    <meta property="og:image" content="{% if page.image %}{{ page.image }}{% else %}{{ root }}/img/logo.png{% endif %}" />
{% if meta_description %}
    <meta property="og:description" content="{{ meta_description }}" />
{% endif %}