<!DOCTYPE html>
<html lang="en-GB">
  <head>
    <meta charset="utf-8" />
    <title>{{ page.title }} &middot; PHPNE: The PHP User Group for the North East of England</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
{% if meta_description %}
    <meta name="description" content="{{ meta_description }}" />
{% endif %}
    <link rel="stylesheet" href="/css/style.css" />
    <!--[if lt IE 9]>
    <script src="//oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="//oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="container wrapper">
      <header class="site-header" role="banner">
        <a class="brand" href="/">PHP North East</a>
      </header>
      <nav class="primary-navigation" role="navigation">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/about-php-north-east/">About</a></li>
          <li><a href="http://twitter.com/phpne" rel="external">Twitter</a></li>
          <li><a href="http://groups.google.com/group/php-north-east" rel="external">Discussions</a></li>
        </ul>
      </nav>
      <div id="main">
        <section id="primary" role="main">

{{ content }}

        </section>
        <aside id="secondary" role="complementary">
          <article class="sponsors">
            <h2>Sponsors</h2>
            <ul class="sponsor-list">
              <li>
                <a class="sponsor sharpe-recruitment" href="http://www.sharperecruitment.co.uk/" rel="external">Sharpe Recruitment</a>
              </li>
              <li>
                <a class="sponsor irvine-creative" href="http://www.irvingcreative.com/" rel="external">Irvine Creative</a>
              </li>
              <li>
                <a class="sponsor clavering-house" href="http://www.newcastlebusinessvillage.com/newcastle-city-centre/" rel="external">Clavering House</a>
              </li>
            </ul>
          </article>
        </aside>
      </div>
      <footer class="site-footer" role="contentinfo">
        <p class="copyright">&copy; {{ site.time|date:'%Y' }} PHP North East. All rights reserved.</p>
      </footer>
    </div>
    <script type="text/javascript" src="//code.jquery.com/jquery.js"></script>
    <script type="text/javascript" src="/js/main.js"></script>
  </body>
</html>