<!DOCTYPE html>
<html lang="en-GB" prefix="og: http://ogp.me/ns#">
  <head>
    <meta charset="utf-8" />
    <title>{{ page.title }} &middot; PHPNE: The PHP User Group for the North East of England</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% if meta_description %}
      <meta name="description" content="{{ meta_description }}" />
    {% endif %}
    {% include open-graph.html %}
    {% include twitter-card.html %}
    <link href="/img/apple-touch-icon.png" rel="apple-touch-icon" />
    <link href="/favicon.ico" rel="shortcut icon" />
    <link href="/css/style.css" rel="stylesheet" />
    <!--[if lt IE 9]>
    <script src="//oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="//oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    {% include analytics.html %}
    {% include facebook-js-sdk.html %}
    <div class="container wrapper">
      <header class="site-header" role="banner">
        <a class="brand" href="/" rel="home">PHP North East</a>
      </header>
      <nav class="primary-navigation" role="navigation">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/about-php-north-east/">About</a></li>
          <li><a href="https://twitter.com/phpne" rel="external">Twitter</a></li>
          <li><a href="https://www.facebook.com/PHP-North-East-530355733811108/" rel="external">Facebook</a></li>
        </ul>
      </nav>
      <div id="main">
        <section id="primary" role="main">
          {{ content }}
        </section>
        <aside id="secondary" role="complementary">
          <article class="sponsors">
            <h2>Sponsors</h2>
            <ul class="sponsor-list">
              <li>
                <a class="sponsor sharpe-recruitment" href="http://www.sharperecruitment.co.uk/" rel="external">Sharpe Recruitment</a>
              </li>
              <li>
                <a class="sponsor opia-sp" href="https://www.opia-sp.com/en/home" rel="external">Opia</a>
              </li>
              <li>
                <a class="sponsor campus-north" href="http://ignite.io/#campus" rel="external">Campus North</a>
              </li>
            </ul>
          </article>
          <div>
            <a href="https://twitter.com/phpne" class="twitter-follow-button" data-size="large" data-lang="en" data-dnt="true" data-show-count="false">Follow @phpne</a>
            <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
          </div>
          <div class="fb-like" data-href="https://www.facebook.com/PHP-North-East-530355733811108/" data-layout="button_count" data-action="like" data-size="large" data-show-faces="false" data-share="false"></div>
        </aside>
      </div>
      <footer class="site-footer" role="contentinfo">
        <div id="location-map"></div>
        <div class="row">
          <div class="event-location">
            <h3>Event location</h3>
            <p>We meet on the third Tuesday of the month at Campus North, Carliol Square, Newcastle upon Tyne, NE1 6UF.</p>
          </div>
          <div class="after-the-event">
            <h3>After the event</h3>
            <p>After the event, many make their way to the bar at The Ware Rooms (just around the corner), for further discussions and networking.</p>
          </div>
        </div>
        <p class="copyright">&copy; {{ site.time|date:'%Y' }} PHP North East. All rights reserved.</p>
      </footer>
    </div>
    <script src="//code.jquery.com/jquery.js"></script>
    <script src="//maps.googleapis.com/maps/api/js?key={{ site.google_api_key }}&amp;sensor=false"></script>
    <script src="/js/main.js"></script>
  </body>
</html>
