---
layout: default
open_graph_type: article
twitter_card: true
---
<div class="page">
  <div class="container">
    <article class="hentry" itemscope itemtype="http://schema.org/Event">
      <header class="page-header">
        <h1 class="page-title" itemprop="name">{{ page.title }}</h1>
      </header>
      <div class="entry-content" itemprop="articleBody">
        <p>
          <strong>Event date:</strong>
          <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="startDate">{{ page.date | date_to_string }}</time>
        </p>
        <div itemprop="description">
          {{ content }}
        </div>
      </div>
      {% include event-register.html %}
      {% include event-sponsor.html %}
    </article>
    {% include comments.html %}
  </div>
</div>
